name: Mobile Tests (Appium)

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  android-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install Appium + Drivers
      run: |
        npm install -g appium@latest
        appium driver install uiautomator2
        appium driver install chromium

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install python deps
      run: |
        pip install -r requirements.txt

    - name: Install Android SDK
      run: |
        sudo apt-get update
        sudo apt-get install -y wget unzip

        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdtools.zip
        mkdir -p $HOME/android-sdk
        unzip cmdtools.zip -d $HOME/android-sdk/cmdline-tools
        mv $HOME/android-sdk/cmdline-tools/cmdline-tools $HOME/android-sdk/cmdline-tools/latest

        echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV
        echo "$HOME/android-sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
        echo "$HOME/android-sdk/platform-tools" >> $GITHUB_PATH
        echo "$HOME/android-sdk/emulator" >> $GITHUB_PATH

    - name: Accept Android licenses
      run: yes | sdkmanager --licenses

    - name: Install Android System Image (x86_64)
      run: |
        sdkmanager "platform-tools" \
                   "platforms;android-30" \
                   "system-images;android-30;google_apis;x86_64" \
                   "emulator"

    - name: Create AVD
      run: |
        echo "no" | avdmanager create avd \
          -n ci \
          --abi x86_64 \
          -k "system-images;android-30;google_apis;x86_64" \
          --device "pixel"

    - name: Boot emulator
      timeout-minutes: 10
      run: |
        emulator -avd ci -no-window -no-audio -gpu swiftshader_indirect &

        echo "Waiting for device..."
        adb wait-for-device

        until adb shell getprop sys.boot_completed | grep -m 1 "1"; do
          echo "Booting..."
          sleep 5
        done

        echo "Emulator booted!"

    - name: Disable animations
      run: |
        adb shell settings put global window_animation_scale 0
        adb shell settings put global transition_animation_scale 0
        adb shell settings put global animator_duration_scale 0

    - name: Start Appium
      run: |
        appium --base-path /wd/hub &
        sleep 10

    - name: Run Appium tests
      run: pytest -k mobile
